h1 {
	color: #c6a700  ;
	text-align: center;
	font-family: Andale Mono, monospace
	font-size: 65px;
	background: -webkit-linear-gradient(45deg, rgb(202, 236, 219), rgb(20, 24, 24));
    background: -moz-linear-gradient(45deg, rgb(202, 236, 219), rgb(20, 24, 24));
    background: linear-gradient(45deg, rgb(202, 236, 219), rgb(20, 24, 24));
	
}



.perry{

	text-align: center;

}

.text{
	color: black;
	margin-left: 750px;
	margin-right:750px ;
	margin-top:-80px;
	font-family: Verdana, sans-serif

	}

.log {
	
float: right;
margin-top: -420px;
	
	
}

.shop {

    
	float: left;
	margin-top: -420px;
	
}
		




.fashionista.haven{


	UTF-8  fashionista.haven.html
	text-align: center;
	
}