h1{
  color: black;
  background: repeating-linear-gradient( -45deg, grey, grey 5px, white 5px, white 10px );
  text-align: center;
  font-size: 100px;
} 



body{
  background-color: grey;
  border:3px;
 border-style:solid;
 border-top: 100px;

 }

  

    .wrapper {
       max-width: 600px;
  margin: 25px ;
  font-size:25px ;
  font-family: revert;
  border: 3px;
  border-style: solid;
  float: auto;
  padding: 75px;
  position: sticky;
  margin-left: 550px;
 

}

img {
   float: left;
  margin-right: 20px;
  width: 300px;
  height: 300px;
  max-width: 600px;
 
 
}

p {
  text-align: center;
}


body{
  margin-top: 200px;
   border-top-color: black;
}



  .Knopka{
    text-align:center;
    font-size: 40px;
  }

  ul {
    border: 2px;
    border-style: solid;
    float:right;
   margin: 25px;
   margin-right: 150px;
  }

