.Zagolovok{
	background-image: radial-gradient(circle at -14.09% 20.12%, #a1dedd 0, #a0dee2 3.57%, #a0dde6 7.14%, #a2dcea 10.71%, #a4dcee 14.29%, #a7dbf1 17.86%, #abd9f4 21.43%, #afd8f6 25%, #b5d7f7 28.57%, #bad5f8 32.14%, #c1d4f8 35.71%, #c7d2f8 39.29%, #cdd0f6 42.86%, #d4cff5 46.43%, #dacdf2 50%, #e0cbef 53.57%, #e5caeb 57.14%, #eac9e7 60.71%, #efc8e3 64.29%, #f2c7de 67.86%, #f6c6d9 71.43%, #f8c6d4 75%, #fac6cf 78.57%, #fbc6cb 82.14%, #fbc6c6 85.71%, #fac7c1 89.29%, #f9c8bd 92.86%, #f7c9b9 96.43%, #f5cab6 100%); 
	height:400px;
	padding-left:70px ;
	font-size: 25px;
	font-family:DejaVu Sans Mono, monospace ;
	line-height: 60px;
	padding-top: 10px;

	}


	.tres{

		object-fit:cover ;
		object-position:none ;
		height:auto;
	}



}


.pod{
	font-family:Bradley Hand, cursive ;
	font-size: 14px;
	line-height: 25px;

}

hr{

width: 100px;
padding-left: 600px;


}


img{
	height: 500px;
   
}


.D0{

background-image: radial-gradient(circle at -14.09% 20.12%, #a1dedd 0, #a0dee2 3.57%, #a0dde6 7.14%, #a2dcea 10.71%, #a4dcee 14.29%, #a7dbf1 17.86%, #abd9f4 21.43%, #afd8f6 25%, #b5d7f7 28.57%, #bad5f8 32.14%, #c1d4f8 35.71%, #c7d2f8 39.29%, #cdd0f6 42.86%, #d4cff5 46.43%, #dacdf2 50%, #e0cbef 53.57%, #e5caeb 57.14%, #eac9e7 60.71%, #efc8e3 64.29%, #f2c7de 67.86%, #f6c6d9 71.43%, #f8c6d4 75%, #fac6cf 78.57%, #fbc6cb 82.14%, #fbc6c6 85.71%, #fac7c1 89.29%, #f9c8bd 92.86%, #f7c9b9 96.43%, #f5cab6 100%); 
height:120px;
	padding-left:70px ;
	font-size: 25px;
	font-family:DejaVu Sans Mono, monospace ;
	line-height: 20px;
	padding-top: 10px;
	line-height: 32px;

}



p{

padding-top: 35px;
font-size:18px;
font-family:Bradley Hand, cursive ;
padding-left: 70px;


}





.Etiam {
    background-image: radial-gradient(circle at -14.09% 20.12%, #a1dedd 0, #a0dee2 3.57%, #a0dde6 7.14%, #a2dcea 10.71%, #a4dcee 14.29%, #a7dbf1 17.86%, #abd9f4 21.43%, #afd8f6 25%, #b5d7f7 28.57%, #bad5f8 32.14%, #c1d4f8 35.71%, #c7d2f8 39.29%, #cdd0f6 42.86%, #d4cff5 46.43%, #dacdf2 50%, #e0cbef 53.57%, #e5caeb 57.14%, #eac9e7 60.71%, #efc8e3 64.29%, #f2c7de 67.86%, #f6c6d9 71.43%, #f8c6d4 75%, #fac6cf 78.57%, #fbc6cb 82.14%, #fbc6c6 85.71%, #fac7c1 89.29%, #f9c8bd 92.86%, #f7c9b9 96.43%, #f5cab6 100%); 
	height:125px;
	padding-left:70px ;
	font-size: 25px;
	font-family:DejaVu Sans Mono, monospace ;
	line-height: 30px;
	padding-top: 58px;

}

.ul2{

list-style-type:none ;
padding-left: 100px;
font-family:Bradley Hand, cursive ;
padding-top: 50px;
float: left;
margin-top: -25px;
}

li{

text-transform: uppercase;
font-weight: 700;
padding: 15px 0 15px 35px;
position: relative;

}

li:before {

position:absolute;	
top:50%;
top:5px ;
width:5px ;
height:5px ;
transform: translateY(-50%);
left:0;






}


.ul1{

list-style-type: none;
padding-left: 45px;
font-family:Bradley Hand, cursive;
float: right;
padding-right: 250px;
margin-top: 30px;


}


.ss{
white-space: nowrap;
padding-right: 200px;
padding-top: 200px;
font-family:Bradley Hand, cursive;
text-align: center;
}




.blocks{
height:125px;
	padding-left:70px ;
	font-size: 25px;
	font-family:DejaVu Sans Mono, monospace ;
	line-height: 30px;
	padding-top: 58px;
	margin-top: -40px;
	background-image: radial-gradient(circle at -14.09% 20.12%, #a1dedd 0, #a0dee2 3.57%, #a0dde6 7.14%, #a2dcea 10.71%, #a4dcee 14.29%, #a7dbf1 17.86%, #abd9f4 21.43%, #afd8f6 25%, #b5d7f7 28.57%, #bad5f8 32.14%, #c1d4f8 35.71%, #c7d2f8 39.29%, #cdd0f6 42.86%, #d4cff5 46.43%, #dacdf2 50%, #e0cbef 53.57%, #e5caeb 57.14%, #eac9e7 60.71%, #efc8e3 64.29%, #f2c7de 67.86%, #f6c6d9 71.43%, #f8c6d4 75%, #fac6cf 78.57%, #fbc6cb 82.14%, #fbc6c6 85.71%, #fac7c1 89.29%, #f9c8bd 92.86%, #f7c9b9 96.43%, #f5cab6 100%); 
}

.bloces{
	padding-left: 28px;
}

h3{
	padding-left: 70px;
	font-family:DejaVu Sans Mono, monospace ;
	font-size: 28px;
	margin-top: 50px;
}


.re{

	padding-left: 70px;
	width:1650px ;
	height:700px ; 
}


.per{
	padding-left: 70px;
}


.ter{

padding-left: 5px;
position: absolute;

}

.orr{
	padding-left: 70px;
	width:1650px ;
	height: 1000px;
}


.torg{

	padding-left: 70px;
	padding-top: 10px;
	font-family:DejaVu Sans Mono, monospace ;
	font-size: 22px;
	line-height: 50px;

}



.abz{

	line-height: 20px;
	font-size: 19px;
	font-family:Bradley Hand, cursive;
}


.deca{
	padding-left: 70px;
	padding-top: 25px;
	width:1778px ;
	height:700px ; 
}

.frr{

padding-left: 70px;

}

.tur{
	position: absolute;
	padding-left: 5px;

}

.abs{
	line-height: 5px;
	font-size: 19px;
	font-family:Bradley Hand, cursive;
	padding-left: 70px;

}

.werst{
	line-height: 20px;
	font-size: 19px;
	font-family:Bradley Hand, cursive;
	padding-left: 70px;
	line-height: 1px;
}







.M5{
	padding-top: 20px;
	padding-left: 70px;
	height: auto;
	
}
  
.kruto{
    position: absolute;
	text-align: right;
	width: 400px;
	padding-left: 5px;
	height:875px;
}




.rul{
	position: absolute;
	padding-left: 5px;
	height: 500px;
	width: 800px;




} 
body::first-line {
  background: url(https://html5book.ru/wp-content/uploads/2015/07/background39.png);
}
.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 350px;
  height: 150px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  margin-top: 200px;
  margin-left: 200px;
  padding-top: 100px;
}
.floating-button:hover {
  background: radial-gradient(circle at -14.09% 20.12%, #a1dedd 0, #a0dee2 3.57%, #a0dde6 7.14%, #a2dcea 10.71%, #a4dcee 14.29%, #a7dbf1 17.86%, #abd9f4 21.43%, #afd8f6 25%, #b5d7f7 28.57%, #bad5f8 32.14%, #c1d4f8 35.71%, #c7d2f8 39.29%, #cdd0f6 42.86%, #d4cff5 46.43%, #dacdf2 50%, #e0cbef 53.57%, #e5caeb 57.14%, #eac9e7 60.71%, #efc8e3 64.29%, #f2c7de 67.86%, #f6c6d9 71.43%, #f8c6d4 75%, #fac6cf 78.57%, #fbc6cb 82.14%, #fbc6c6 85.71%, #fac7c1 89.29%, #f9c8bd 92.86%, #f7c9b9 96.43%, #f5cab6 100%); 
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}
body{
  background: gray;
}





.god{

height: auto;
width: 1555px;

}


.Sed{
	 background-image: radial-gradient(circle at -14.09% 20.12%, #a1dedd 0, #a0dee2 3.57%, #a0dde6 7.14%, #a2dcea 10.71%, #a4dcee 14.29%, #a7dbf1 17.86%, #abd9f4 21.43%, #afd8f6 25%, #b5d7f7 28.57%, #bad5f8 32.14%, #c1d4f8 35.71%, #c7d2f8 39.29%, #cdd0f6 42.86%, #d4cff5 46.43%, #dacdf2 50%, #e0cbef 53.57%, #e5caeb 57.14%, #eac9e7 60.71%, #efc8e3 64.29%, #f2c7de 67.86%, #f6c6d9 71.43%, #f8c6d4 75%, #fac6cf 78.57%, #fbc6cb 82.14%, #fbc6c6 85.71%, #fac7c1 89.29%, #f9c8bd 92.86%, #f7c9b9 96.43%, #f5cab6 100%); 
	height:125px;
	padding-left:70px ;
	font-size: 25px;
	font-family:DejaVu Sans Mono, monospace ;
	line-height: 30px;
	padding-top: 58px;
}




.konez{
padding-top: 55px;
line-height: 5px;
	font-size: 19px;
	font-family:Bradley Hand, cursive;
	padding-left: 70px;

}






.portet{
	background-image: radial-gradient(circle at -14.09% 20.12%, #a1dedd 0, #a0dee2 3.57%, #a0dde6 7.14%, #a2dcea 10.71%, #a4dcee 14.29%, #a7dbf1 17.86%, #abd9f4 21.43%, #afd8f6 25%, #b5d7f7 28.57%, #bad5f8 32.14%, #c1d4f8 35.71%, #c7d2f8 39.29%, #cdd0f6 42.86%, #d4cff5 46.43%, #dacdf2 50%, #e0cbef 53.57%, #e5caeb 57.14%, #eac9e7 60.71%, #efc8e3 64.29%, #f2c7de 67.86%, #f6c6d9 71.43%, #f8c6d4 75%, #fac6cf 78.57%, #fbc6cb 82.14%, #fbc6c6 85.71%, #fac7c1 89.29%, #f9c8bd 92.86%, #f7c9b9 96.43%, #f5cab6 100%); 
	height:125px;
	padding-left:70px ;
	font-size: 50px;
	font-family:DejaVu Sans Mono, monospace ;
	line-height: 30px;
	padding-top: 85px;

}

body::after {
  background: url(https://html5book.ru/wp-content/uploads/2015/07/background39.png);
}
.RED {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  margin-left: 70px;
  margin-top: 500px;
}
.RED:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}


.bro{
	font-family:DejaVu Sans Mono, monospace ;
	padding-left:75px;
	padding-top:10px ;
	line-height: 43px;
	font-size: 30px;
}
.brot{
	font-family:DejaVu Sans Mono, monospace ;
	padding-left:75px;
	padding-top:40px ;
	line-height: 43px;
	font-size: 30px;
}
.bros{
	font-family:DejaVu Sans Mono, monospace ;
	padding-left:75px;
	padding-top:40px ;
	line-height: 43px;
	font-size: 30px;
}
.brog{
	font-family:DejaVu Sans Mono, monospace ;
	padding-left:75px;
	padding-top:40px ;
	line-height: 43px;
	font-size: 30px;
}









	
	








